<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'bootstrap-4/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png'%}">
</head>
<body class="b-0 p-0">
	<nav class="navbar navbar-expand bg-dark navbar-dark">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="text-light" href="{% url 'home_url' %}">Home</a>
			</li>
		</ul>
	</nav>
	<div class="mx-5">
		<br>
		{% if error %}
			<div class="alert alert-danger rounded-0 container">{{error_message|safe}}</div>
			<br>
		{% endif %}
		{% block content %}{% endblock %}
		<br>
	</div>
  	<footer class="page-footer font-small bg-dred text-center container-fluid m-0 rounded-0 text-lgrey">
  	</footer>
</body>
</html>
