{% extends 'base.html' %}

{% block title %}
	O нас
{% endblock %}

{% block content %}
	<section class="s-content s-content--narrow">

		<div class="row">

			<div class="s-content__header col-full">
				<h1 class="s-content__header-title my-font">
					О нас
				</h1>
			</div> <!-- end s-content__header -->

			<div class="s-content__media col-full">
				<div class="s-content__post-thumb" >

				</div>
			</div> <!-- end s-content__media -->

			<div class="col-full s-content__main">

				{# <p class="lead">Тут </p> #}

				<p class="lead">Идеи никакой нет. Но она спонтанно возникла в 2014 году при создании фотографий, в противоречие моде. Додумались достать из шкафа старые батины шмотки и сделали секс с мужчинами фотографии в них. Всем зашло мы охуели. Эти фото были призваны как ироничная насмешка над стильными и модными людьми, которые выкладывают в социальные сети только самые лучшие и удачные фотографии, на которых они выглядят красиво и успешно, но на самом деле являются всратыми колхозниками, которые живут в ссаных хрущевках... Мы тоже там живем, но мы не выёбываемся и не боимся показать кем являемся. А идея в том, что ты пидорщица не наддо стесняться. Ну и вот, абсурдизм, одежда наших пращуров, дешевый портвейн – это не так плохо.</p>

				<p>Основателями являются 4 выпукника физико математического класса с глубоким изучением весь в муке, хуй в руке муниципального бюджетного образовательного учреждения ссчученой общеобразовательной школы номер 3 города Рязань, на базе которой находилась спортивная детско юношеская школа олимпийского я ссусь с пива резерва. </p>

				<div class="row block-1-2 block-tab-full">
					<div class="col-block">
						<h3 class="quarter-top-margin">Кто</h3></h3>
						<p>Обычные ребята. Они могут быть кем угодно. Долбаемыми, кончеными ублюдками, мы никогда не узнаем на самом деле. Они сыпят соль на раны. В какой-то момент я прочил сам себе. Это ради удовольствия. Мы были обычными и остаёмся обычными. Но мы изменились, но мы охуели, но мы не изменились. Мы растем над собой, но мы не меняемся. Кто-то зазнается, кто-то находят что то новое, но мы общаемся уже хуй знает сколько и это неспроста. </p>
					</div>

					<div class="col-block">
						<h3 class="quarter-top-margin">Зачем</h3>
						<p>Бытие это просто что-то, это случайность, ты мог никогда не родиться, не сформироваться, родители могли никогда тебя не задумать. Искать смысл жизни бессмысленно, его не существует. Мы все те же животные, которые рефлектирует.  Олени живут и им похуй.</p>
					</div>

					<div class="col-block">
						<h3 class="quarter-top-margin">Как</h3>
						<p>Хочешь что то сделать? Напиваешься и можно уже не делать, потому что похуй! В этом и суть русского человека, постоянно рефлектировать и ничего не делать. Все эти семейные застолья с разговорами о политике, работе, жизни, религии и прошлом, которые ни к чему не приводят.</p>
					</div>

					<div class="col-block">
						<h3 class="quarter-top-margin">Почему</h3>
						<p>Они прародители собирали сребро, стекло. Во что мы сейчас вкладываемся? У нас не своего. Просто вкладывать во что-то бессмысленно. Наше поколение вообще ни во что не вкладывается. Мы копим деньги, но не знаем на что копим. Это деньги ради денег, чтобы они просто были.</p>
					</div>

				</div>


			</div> <!-- end s-content__main -->

		</div> <!-- end row -->

	</section> <!-- s-content -->
{% endblock %}
