{% extends 'base.html' %}
{% load static %}

{% block title %}
	O нас
{% endblock %}

{% block head %}
	<meta name="description" content="{{storage.meta_about_description}}">
	<meta name="keywords" content="{{storage.meta_about_keywords}}">

	<meta name="og:title" content="О нас">
	<meta name="og:url" content="http://voloeby.com{{request.path}}">
	<meta name="og:type" content="article">
	<meta name="og:locale" content="ru_RU">
	<meta name="og:description" content="{{storage.meta_about_description}}">
	<meta name="og:image" content="http://voloeby.com{% static 'images/favicon/about.png' %}">
	<meta name="og:image:width" content="1200">
	<meta name="og:image:height" content="630">
	<meta name="og:image" content="http://voloeby.com{% static 'images/favicon/about_968.png' %}">
	<meta name="og:image:width" content="968">
	<meta name="og:image:height" content="504">
	<meta name="og:image" content="http://voloeby.com{% static 'images/favicon/about_square.png' %}">
	<meta name="og:image:width" content="1200">
	<meta name="og:image:height" content="1200">
{% endblock %}

{% block content %}
	<section class="s-content s-content--narrow">

		<div class="row">

			<div class="s-content__header col-full">
				<h1 class="s-content__header-title my-font">
					О нас
				</h1>
			</div>

			<div class="s-content__media col-full">
				<div class="s-content__post-thumb" >

				</div>
			</div>

			<div class="col-full s-content__main">
				<p class="lead">{{storage.about_1}}</p>

				<p>{{storage.about_2}}</p>

				<div class="row block-1-2 block-tab-full">
					<div class="col-block">
						<h3 class="quarter-top-margin">Кто</h3></h3>
						<p>{{storage.about_who}}</p>
					</div>

					<div class="col-block">
						<h3 class="quarter-top-margin">Зачем</h3>
						<p>{{storage.about_forwhat}}</p>
					</div>

					<div class="col-block">
						<h3 class="quarter-top-margin">Как</h3>
						<p>{{storage.about_how}}</p>
					</div>

					<div class="col-block">
						<h3 class="quarter-top-margin">Почему</h3>
						<p>{{storage.about_why}}</p>
					</div>

				</div>


			</div>
		</div>

	</section>
{% endblock %}
