{% extends 'base.html' %}

{% block title %}
	Главная
{% endblock %}

{% block content %}
	<section class="s-content">
		<div class="row narrow">
			<div class="col-full s-content__header" data-aos="fade-up">
				<h1 class="my-font">Творчество</h1>
			</div>
		</div>

		<div class="row masonry-wrap" style="margin-top:10px">
			<div class="masonry">

				<div class="grid-sizer"></div>
				{% for item in photos %}
					<article class="masonry__brick entry format-standard" data-aos="fade-up">
						<div class="entry__thumb">
							<a href="{{item.link}}" class="entry__thumb-link" target="_blank">
								<img src="{{item.image.url}}">
							</a>
						</div>
					</article>
				{% endfor %}
			</div> <!-- end masonry -->
		</div> <!-- end masonry-wrap -->
	</section>
{% endblock %}
