{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}


{% block title %}Русские Сезоны{% endblock %}
{% block description %}{{storage.meta_art_description}}{% endblock %}
{% block keywords %}{{storage.meta_art_keywords}}{% endblock %}

{% block head %}
	<meta name="og:title" content="Русские Сезоны">
	<meta name="og:url" content="https://voloeby.com{{request.path}}">
	<meta name="og:type" content="article">
	<meta name="og:locale" content="ru_RU">
	<meta name="og:description" content="{{storage.meta_art_description}}">


	<meta name="og:image" content="https://voloeby.com{% static 'images/og/og_russianseasons_1400x600.png' %}">
	<meta name="og:image:width" content="1400">
	<meta name="og:image:height" content="600">
	<meta name="og:image" content="https://voloeby.com{% static 'images/og/og_russianseasons_2800x1200.png' %}">
	<meta name="og:image:width" content="2800">
	<meta name="og:image:height" content="1200">

	<meta name="og:image" content="https://voloeby.com{% static 'images/og/og_russianseasons.png' %}">
	<meta name="og:image:width" content="2480">
	<meta name="og:image:height" content="2480">

	<meta itemprop="name" content="Русские сезоны">
	<meta itemprop="description" content="{{storage.meta_shop_description}}">
	<meta itemprop="image" content="https://voloeby.com{% static 'images/og/og_russianseasons.png' %}">
{% endblock %}

{% block content %}
	<section class="s-content">
		<div class="row narrow">
			<div class="col-full s-content__header" data-aos="fade-up">
				<h1 class="my-font">Русские Сезоны</h1>
			</div>
		</div>
		<div class="row masonry-wrap" style="margin-top:10px" data-aos="fade-up">
			<!--<aside class="pull-quote">
				<blockquote class="block_center" style="text-align: center;">
					<p>Если искусство нужно объяснять, то это говно, а не искусство</p>
				</blockquote>
			</aside>-->
			<div class="masonry">
				<div class="grid-sizer"></div>
				{% for item in photos %}
					<article class="masonry__brick entry format-standard" data-aos="fade-up">
						<div class="entry__thumb">
							<a href="{{item.link}}" class="entry__thumb-link" target="_blank">
								<img src="{{item.image.url}}">
							</a>
						</div>
					</article>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
