{% extends 'base.html' %}
{% load static %}

{% block title %}Блог{% endblock %}

{% block description %}{{storage.meta_blog_description}}{% endblock %}

{% block head %}
	<meta name="og:title" content="Блог">
	<meta name="og:url" content="https://voloeby.com{{request.path}}">
	<meta name="og:type" content="article">
	<meta name="og:locale" content="ru_RU">
	<meta name="og:description" content="{{storage.meta_blog_description}}">


	<meta name="og:image" content="https://voloeby.com{% static 'images/og/og_blog_1400x600.png' %}">
	<meta name="og:image:width" content="1400">
	<meta name="og:image:height" content="600">
	<meta name="og:image" content="https://voloeby.com{% static 'images/og/og_blog_2800x1200.png' %}">
	<meta name="og:image:width" content="2800">
	<meta name="og:image:height" content="1200">

	<meta name="og:image" content="https://voloeby.com{% static 'images/og/og_blog.png' %}">
	<meta name="og:image:width" content="2480">
	<meta name="og:image:height" content="2480">

	<meta itemprop="name" content="Блог">
	<meta itemprop="description" content="{{storage.meta_blog_description}}">
	<meta itemprop="image" content="https://voloeby.com{% static 'images/og/og_blog.png' %}">
{% endblock %}

{% block content %}
	<section class="s-content">

		<div class="row narrow">
			<div class="col-full s-content__header" data-aos="fade-up">
				<h1 class="my-font">Блог</h1>
			</div>
		</div>

		<div class="row masonry-wrap">
			<div class="masonry">

				<div class="grid-sizer"></div>
				{% for post in posts %}
					<article class="masonry__brick entry format-standard" data-aos="fade-up">
						<div class="entry__thumb">
							<a href="{% url 'blog_post_url' post.id %}" class="entry__thumb-link">
								<img src="{{post.image.url}}" alt="">
							</a>
						</div>
						<div class="entry__text">
							<div class="entry__header">
								<div class="entry__date">
									<a>{{post.datetime|date:'d.m.Y'}} {% if post.user %}by {{post.user.username}}{% endif %}</a>
								</div>
								<h1 class="entry__title"><a href="{% url 'blog_post_url' post.id %}">{{post.title}}</a></h1>
							</div>
							<div class="entry__excerpt">
								<p>
								</p>
							</div>
						</div>
					</article> <!-- end article -->
				{% endfor %}
			</div> <!-- end masonry -->
		</div> <!-- end masonry-wrap -->

	</section> <!-- s-content -->
{% endblock %}
