{% extends 'base.html' %}

{% block title %}
	{{post.title}}
{% endblock %}

{% block content %}
	<section class="s-content s-content--narrow s-content--no-padding-bottom">

		<article class="row format-standard">

			<div class="s-content__header col-full">
				<h1 class="s-content__header-title">
					{{post.title}}
				</h1>
				<ul class="s-content__header-meta">
					<li class="date">{{post.datetime|date:'d.m.Y'}} {% if post.user %}by {{post.user.username}}{% endif %}</li>
				</ul>
			</div> <!-- end s-content__header -->

			<!--<div class="s-content__media col-full" style="float:left">
				<div class="s-content__post-thumb">
					<img src="{{post.image.url}}" style="width:20%">
				</div>
			</div>-->

			<div class="col-full s-content__main">
				{{post.content|safe}}

			</div> <!-- end s-content__main -->

		</article>
	</section> <!-- s-content -->
{% endblock %}
