{% extends 'base.html' %}

{% block title %}
	Контакты
{% endblock %}

{% block content %}
	<section class="s-content s-content--narrow">

		<div class="row">

			<div class="s-content__header col-full">
				<h1 class="s-content__header-title my-font">
					Контакты
				</h1>
			</div> <!-- end s-content__header -->
			<div class="col-full s-content__main">


				<div class="row">
					<div class="col-six tab-full">
						<h3>Адрес</h3>

						<p>
						Пока не существует
						</p>

					</div>

					<div class="col-six tab-full">
						<h3>Контакты</h3>

						<p>voloeby.com@yandex.ru<br>
						telegrm: @voloeby_chat<br>
						</p>
					</div>
				</div>

				<h3>Напишите нам</h3>

				<form name="cForm" id="cForm" method="post" action="{{request.path}}">
					{% csrf_token %}
					<fieldset>

						<div class="form-field">
							<input name="cName" type="text" id="cName" class="full-width" placeholder="Ваше имя" value="" required>
						</div>

						<div class="form-field">
							<input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Email" value="" required>
						</div>

						<div class="message form-field">
						<textarea name="cMessage" id="cMessage" class="full-width" placeholder="Сообщение" required></textarea>
						</div>

						<button type="submit" class="submit btn btn--primary full-width">Отправить</button>

					</fieldset>
				</form>


			</div> <!-- end s-content__main -->

		</div> <!-- end row -->

	</section> <!-- s-content -->

{% endblock %}
