{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load get_storage %}
{% get_storage as storage %}

{% block title %}Контакты{% endblock %}

{% block head %}
	<meta name="description" content="{{storage.meta_contacts_description}}">
	<meta name="keywords" content="{{storage.meta_contacts_keywords}}">
	<meta name="og:title" content="Контакты">
	<meta name="og:url" content="http://voloeby.com{{request.path}}">
	<meta name="og:type" content="article">
	<meta name="og:locale" content="ru_RU">
	<meta name="og:description" content="{{storage.meta_contacts_description}}">
	<meta name="og:image" content="http://voloeby.com{% static 'images/favicon/contacts.png' %}">
	<meta name="og:image:width" content="1200">
	<meta name="og:image:height" content="630">
	<meta name="og:image" content="http://voloeby.com{% static 'images/favicon/contacts_968.png' %}">
	<meta name="og:image:width" content="968">
	<meta name="og:image:height" content="504">
	<meta name="og:image" content="http://voloeby.com{% static 'images/favicon/contacts_square.png' %}">
	<meta name="og:image:width" content="1200">
	<meta name="og:image:height" content="1200">
{% endblock %}

{% block content %}
	<section class="s-content s-content--narrow">

		<div class="row">

			<div class="s-content__header col-full">
				<h1 class="s-content__header-title my-font">
					Контакты
				</h1>
			</div>
			<div class="col-full s-content__main">


				<div class="row">
					<div class="col-six tab-full">
						{% if storage.address %}
						<h3>Адрес</h3>
						<address class="">
							{{storage.address}}
						</address>
						{% endif %}

					</div>

					<div class="col-six tab-full">
						{% if storage.contact_number %}
							телефон:
							<a href="tel:{{storage.contact_number}}">
								{{storage.contact_number}}
							</a>
							<br>
						{% endif %}
						{% if storage.contact_email %}
							email:
							<a href="mailto:{{storage.contact_email}}">
								{{storage.contact_email}}
							</a>
							<br>
						{% endif %}
						{% if storage.contact_telegram %}
							telegram:
							<a href="https://t.me/{{storage.contact_telegram}}">
								@{{storage.contact_telegram}}
							</a>
							<br>
						{% endif %}
						{% if storage.contact_whatsapp %}
							whatsapp:
							<a href="https://wa.me/{{storage.contact_whatsapp}}">
								+{{storage.contact_whatsapp}}
							</a>
							<br>
						{% endif %}

						</p>
					</div>
				</div>

				<h3 class="my-font">Обкашлять вопросик</h3>

				<form name="cForm" id="cForm" method="post" action="{{request.path}}">
					{% csrf_token %}
					<fieldset>

						<div class="form-field">
							<input name="cName" type="text" id="cName" class="full-width" placeholder="Ваше имя" value="" required>
						</div>

						<div class="form-field">
							<input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Email" value="" required>
						</div>

						<div class="message form-field">
						<textarea name="cMessage" id="cMessage" class="full-width" placeholder="Сообщение" required></textarea>
						</div>

						<button type="submit" class="submit btn btn--primary full-width">Отправить</button>

					</fieldset>
				</form>


			</div> <!-- end s-content__main -->

		</div> <!-- end row -->

	</section> <!-- s-content -->

{% endblock %}
