{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block head %}
	<meta name="description" content="{{storage.meta_home_description}}">
	<meta name="keywords" content="{{storage.meta_home_keywords}}">

	<meta name="og:title" content="Это что ещё такое">
	<meta name="og:url" content="http://voloeby.com">
	<meta name="og:type" content="article">
	<meta name="og:locale" content="ru_RU">
	<meta name="og:description" content="{{storage.meta_about_description}}">
	<meta name="og:image" content="http://voloeby.com{% static 'images/favicon/home_1080.png' %}">
	<meta name="og:image:width" content="1080">
	<meta name="og:image:height" content="567">
	<meta name="og:image" content="http://voloeby.com{% static 'images/favicon/home_968.png' %}">
	<meta name="og:image:width" content="968">
	<meta name="og:image:height" content="504">
	<meta name="og:image" content="http://voloeby.com{% static 'images/favicon/home_square.png' %}">
	<meta name="og:image:width" content="1200">
	<meta name="og:image:height" content="1200">
{% endblock %}

{% block content %}
	{% if posts.count %}
		<section class="s-content s-content--narrow">
			<div class="row">

				{% for post in posts %}
							<div class="">
								{{post.content|safe}}
							</div>
				{% endfor %}
			</div>
		</section>
	{% endif %}
{% endblock %}
