
.del_but{
	display: block;
	margin-left:20%;
}

.va-m{
	vertical-align:middle;
}

.do-disp{
	display: none !important;
}

.plus-button{
	border-radius:20px;
	background-color: #eeeeee;
}

.plus-button :hover{
	border-radius:20px;
	background-color: #dddddd;
}
