
.del_but{
	display: block;
	margin-left:20%;
}

.va-m{
	vertical-align:middle;
}

.no-disp{
	display: none;
}

.plus-button{
	border-radius:20px;
	background-color: #eeeeee;
}

.plus-button :hover{
	border-radius:20px;
	background-color: #dddddd;
}

.pop-up-win{
	background-color: #ffffff;
	position: absolute;
	left:10vw;
	top:20vh;
	width:80vw;
}

.dark-back{
	position: absolute;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.fin-li div div{
	text-align: center;
}

.fin-total{
	display: inline-block;
	float: right;
}
