.block_center{
	display:block;
	margin:auto;
}

.mt-2{
	margin-top: 0.5rem;
}

.mt-4{
	margin-top: 1rem;
}

.item-small-images{
	/* height:20vh; */
	display:inline-block;
	margin: 0;
	padding: 0;
	align-self: flex-start;
	font-size: 0;
	/* vertical-align: top; */
	/* margin-top: auto; */
}

.item-small-images img{
	font-size: 0;
	white-space: nowrap;
	/* height: 20vh; */
	width:100% !important;
	vertical-align: top;
	align-self: flex-start;
}

.i

h1{
	color: rgba(0, 0, 0, 0.8);
}

.top_logo{
	font-family: 'Euro-Caps';
	color: rgba(255, 255, 255, 0.8);
	magrin-top:0;
	padding-top:0;
	font-size: 40px;
	top:0;
}

@media (max-width: 800px){
	.top_logo{
		font-size: 30px;
	}
}
@media (max-width:600px){
	.top_logo{
		font-size: 30px;
	}
}
@media (max-width:400px){
	.top_logo{
		font-size: 20px;
	}
}
/* .top_logo{
	font-family: 'Euro-Caps';
	color: rgba(255, 255, 255, 0.6);
	font-size: 50px;
	magrin-top:0;
	padding-top:0;
	@media max-width: 800{
		font-size: 30px !important;
	}
	@media max-width: 800{
		font-size: 30px !important;
	}
} */

.my-font{
	font-family: 'Euro-Caps';
}

.art_list{
	list-style: none;
}

.art_list li{
	width:33%;
	display: inline-block;
	vertical-align: top;
}
