{% extends "base.html" %}

{% block content %}
	<h1>{{theme.name}}</h1>
	<p>{{theme.text}}</p>
	<div class="row">
		<div class="col-6">
			<div class="alert alert-success rounded-0">
				<a href="" class="no-underline">
					<div class="w-100 h-100">
						<div class="row">
							<div class="col">
								Yes
							</div>
						</div>
						<div class="row">
							<div class="col">
								{{theme.yes_count}}
							</div>
						</div>
					</div>
				</a>
				<form class="" action="{% url 'new_yes_argument_url' id=theme.id %}" method="post" style="display:non">
					{% csrf_token %}
					<textarea name="text" rows="5" class="w-100 form-control rounded-0"></textarea>
					<input type="submit" value="Save" class="btn btn-success rounded-0 mt-2">
				</form>
			</div>
		</div>
		<div class="col-6">
			<a href="" class="no-underline">
				<div class="alert alert-danger rounded-0">
					<div class="row">
						<div class="col">
							No
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{theme.no_count}}
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<h2>Why yes?</h2>
			<ul class="list-group">
				{% for argument in yes_arguments %}
					<li class="list-group-item">
						<div class="media">
							<img src="{{argument.user.avatar}}" alt="" class="align-self-start">
							<div class="media-body">
								{% if argument.is_anonymous %}
									<h4>Anonymous user</h4>
								{% else %}
									<h4>{{argument.user}}</h4>
								{% endif %}
								<date>{{argument.datetime|date:'d.m.Y H:i'}}</date>
								<p>{{argument.text}}</p>
								<a href="" class="no-underline">
									<span>likes: {{argument.number_of_likes}}</span>
								</a>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-6">
			<h2>Why No?</h2>
			<ul>
				{% for argument in theme.no_arguments.all %}
					<li>
						{{argument}}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
