{% extends 'admin/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-4">
			<ul class="list-group list-group-flush mt-2">
				{% for user in users %}
					<li class="list-group-item">
						<div class="row">
							<div class="col">
								{{user.username}}
							</div>
							<div class="col-6">
								{% if user.profile.last_activity %}
									{{user.profile.last_activity|date:'d.m.Y H:i'}}
								{% endif %}
							</div>
							<div class="col-1">
								<input type="checkbox" {% if user.profile.is_active %}checked{% endif %} onclick="javascript:upd_user({{user.id}})">
							</div>
						</div>

					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}
