{% extends 'admin/base.html' %}

{% block content %}
	<div class="container">
		<h1>Блог</h1>
		<a href="{% url 'new_blog_post_url' %}">
			<button class="btn btn-primary">Добавить пост</button>
		</a>
			<ul class="list-group list-group-flush mt-2">
				{% for post in posts %}
					<li class="list-group-item" id='{{post.id}}'>
						<div class="row">
							<div class="col-2">
								<img src="{{post.image.url}}" alt="" class="w-100">
							</div>
							<div class="col">
								<h3>{{post.title}}</h3>
							</div>
							<div class="col-1">
								<a href="{% url 'edit_blog_post_url' post.id %}" class="" id='edit_link_{{post.id}}'>
									<button type="button" name="button" class="btn btn-success">Edit</button>
								</a>
							</div>
							<div class="col-1">
								<a href="javascript:really_delete(del_post, {{post.id}})" class="">
									<button type="button" name="button" class="btn btn-danger">Del</button>
								</a>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
	</div>
{% endblock %}
