{% extends 'admin/base.html' %}

{% load static %}

{% block content %}
	<div class="">
		<h1 class="container">{{header}}</h1>
		<form class="" action="{{request.path}}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.media }}
			<div class="container">
				<label for="">Заголовок:</label>
				{{form.title}}
				<label for="">Превью:</label>
				{{form.image}}
			</div>
			<div class="">
				{{form.content}}
			</div>

			<div class="container mt-4">
				<div class="row ">
					<div class="col-2 pl-0">
						<input type="submit" value="Сохранить" class="btn btn-success container-fluid">
					</div>
					<div class="col-2">
						<a href="{% url 'admin_blog_url' %}">
							<div class="btn btn-danger container-fluid">Отменить</div>
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
