<!DOCTYPE HTML>
<html>
<head>
	<title>voloeby</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/bootstrap-4/css/bootstrap.min.css">

</head>
<body class="b-0 p-0" style="min-width:430px;">
	<div class="" style="min-height:87.5vh">
		<div class="container">
			<div class="container">
				<h2>Вход</h2>
				{% if error %}
					<div class="alert alert-danger">{{error_message}}</div>
				{% endif %}
				<form class="" action="{% url 'login_url' %}" method="post">
					{% csrf_token %}
					{{login_form.as_p}}
					<button type="submit" name="button" class="btn btn-primary">Войти</button>
					<div class="row mt-2">
						<div class="col">
							<script async src="https://telegram.org/js/telegram-widget.js?8" data-telegram-login="vlbauthbot" data-size="large" data-auth-url="/admin/tg/login" data-request-access="write"></script>
						</div>
					</div>
				</form>
			</div>
		</div>
		<br>
	</div>
</body>
</html>
