{% extends 'admin/base_shop_page.html' %}
{% load static %}

{% block content-2 %}
	<div class="container">
		<h1>Управление магазином</h1>
		<a href="{% url 'new_item_url' %}">
			<button class="btn btn-primary">Добавить вешь</button>
		</a>
		<ul class="list-group list-group-flush mt-2">
			<li class="list-group-item" style="background-color:#efefef">
				<div class="row">
					<div class="col">
						<span class="small" style="display:block;margin:auto">
							Наименование
						</span>
					</div>
					<div class="col-1">
						<span class="small" style="display:block;margin:auto">
							Показывать
						</span>
					</div>
					<div class="col-1">
						<span class="small" style="display:block;margin:auto">
							Изменить
						</span>
					</div>
					<div class="col-1">
						<span class="small" style="display:block;margin:auto">
							Удалить
						</span>
					</div>
				</div>
			</li>
			{% for item in items %}
				<li class="list-group-item" id="{{item.id}}">
					<div class="row">
						<div class="col-2">
							<a href="{% url 'edit_item_url' item.id %}">
								{% if item.images.count > 0 %}
									{% with item.images.all|first as image %}
										<img src="{{ image.file.url }}" alt="{{item.name}}" class="w-100">
									{% endwith %}
								{% else %}
									<img src="{% static 'images/favicon/favicon.png' %}" alt="{{item.name}}" class="w-100">
								{% endif %}
							</a>
						</div>
						<div class="col">
							<h3>{{item.name}}</h3>
						</div>
						<div class="">

						</div>
						<div class="col-1 ">
							<input type="checkbox" id='input_{{item.id}}' value="" style="display:block;margin:auto" class="mt-2" onclick="javascript:upd_show({{item.id}})" {% if item.show %}checked{% endif %}>
						</div>
						<div class="col-1">
							<a href="{% url 'edit_item_url' item.id %}" class="" id='edit_link_{{item.id}}'>
								<button type="button" name="button" class="btn btn-success">Edit</button>
							</a>
						</div>
						<div class="col-1">
							<a href="javascript:del_item({{item.id}})" class="">
								<button type="button" name="button" class="btn btn-danger">Del</button>
							</a>
						</div>
					</div>

				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
